<html>
    <head>
        <title>All News</title>
    </head>
    <body>
        <h1>All News</h1>
        <div>
            <!--
                Using FOREACH LOOP for the users array
                
                myArray.forEach(function(el, index) {
                    // el - current element, i - index
                });
            -->
            <% news.TITLE %>

        </div>
    </body>
</html>