<html>
    <head>
        <title>Single News</title>
    </head>
    <body>
        <h1>News Details</h1>
        <div>
            <p>Title: <%= title %></p>
            <p>Author: <%= author %></p>
            <p>Public: <%= public %></p>
        </div>
    </body>
</html>