<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    
 <h1>Welcome <%= userName %> you currently have <%= userRoles %>  privileges</h1>
<main>
    <div class="jumbotron">
     
        <p><form action="/" method=GET>
        
        <p><input type="submit" value="Log Out"></form></p>
    <a href="http://localhost:8080/add">Create New Article</a>
    
        
<form action='/add' method='POST'>Title:<br>
    <input type='text' name='title' cols='50' required><br>Article Visibility:<tab indent=26>Public
    <input type='radio' name='visibility' value='T'><t><tab indent=6>Private<input type='radio' name='visibility' value='F' checked><br><textarea name='article' rows='20' cols='85' required></textarea><br><input type='submit' value='Submit'><br></form>

        </p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>