<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
 
<main>
    <div class="jumbotron">
        
        <% if(userName != null){ %>
          <h1>Welcome <%= userName %> you currently have <%= userRoles %> privileges</h1>
        <%} %>
        
         <% if(userName == null){ %>
           <h1>Welcome Guest you currently have Guest privileges</h1>
        <%} %>
        
        
        
         

        <% if(userName != null){ %>
         <p><form action="/" method='GET'><input type="submit"  name="botton" value="Logout"></form></p
        <%} %>
        <% if(userName == null){ %>
          <p><form action="/logger" method='GET'><input type="submit"  name="botton" value="Log In"></form></p
        <%} %>
        
       
    </div>
       <h2> <%= title %></h2><br><br>
        <p> <%= content %></p>
            
        
     
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
