<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <h1>Welcome <%= name %> you currently have ***** privileges</h1>

<main>
    <div class="jumbotron">
     
        <p><form action="/" method=GET>
        
        <p><input type="submit" value="Log Out"></form></p>
     <a href="https://www.w3schools.com/html/">Create New Article</a>
        </p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>