<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1>Welcome to NEW News, GUEST</h1>
        <p> Please Log In:</p>
        <p><form action="/logger" method=GET>
        <input type="submit" value="Log In"></form></p>

    
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
