<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
 
<main>
    <div class="jumbotron">
        <h1>Oops! You don't have access</h1>
                <p> <a href='/Index/<%=i%>'>HOME </a></p>     

    </div>
            
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
